<style>
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
<link rel="stylesheet" href="/parallel/refreeze/js/highlight/styles/gruvbox-light.css">
<script src="/parallel/refreeze/js/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
